.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        max-width: 40%;
        margin-top: 2rem;
        padding: 1.5rem;

        background-color: var(--background-color);
        border: 2px solid var(--border-color);
        border-radius: 20px;

        .text-section {
            flex: 1;

            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        .portrait {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }

        img {
            width: 100%;
            max-width: 250px;
            height: auto;
            border-radius: 20px;
        }
    }
}