.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 4rem;
        width: 100%;
        max-width: 800px;
        margin-top: 2rem;
        padding: 1.5rem;

        .text-section {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
                font-size: 4rem;
                margin-bottom: 0rem;

                color: var(--button-background);

                .lower-title {
                    margin-left: 1rem;
                    color: var(--text-color);
                }
            }

            p {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        .portrait {
            flex: 0 0 auto;
            display: flex;
            justify-content: center;
        }

        img {
            width: 100%;
            max-width: 250px;
            height: auto;
            border-radius: 20px;
        }
    }

    .contact-me {
        border: 2px solid var(--border-color);
        border-radius: 50px;
        padding: 1rem 2rem;
    }

    .techstack {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 4rem;

        gap: 2rem;
        width: 100%;
        max-width: 1000px;

        .techstack-title {
            display: flex;
            align-items: center;

            font-size: 2rem;
            gap: 0.5rem;
            margin-bottom: 0;

            .techstack-icon {
                animation: rotateLoop 7s linear infinite;
            }
        }

        .tech-container {
            display: flex;
            justify-content: center;

            width: 100%;
            gap: 2rem;
            margin-top: 1rem;

            .tech-category {
                flex: 0 0 40%;
                text-align: left;
                font-size: 2rem;
            }

            .tech-list {
                display: flex;
                flex-wrap: wrap;
                flex: 1;

                justify-content: flex-start;
                gap: 1rem;
            }
        }
    }
}

@keyframes rotateLoop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}