.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-self: flex-start;

        font-size: 2rem;
        gap: 2rem;
        margin-bottom: 0;
    }

    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 4rem;
        width: 100%;
        max-width: 800px;
        margin-top: 2rem;
        padding: 1.5rem;

        .text-section {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
                font-size: 4rem;
                margin-bottom: 0rem;

                color: var(--button-background);

                .lower-title {
                    margin-left: 1rem;
                    color: var(--text-color);
                }
            }

            p {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        .portrait {
            flex: 0 0 auto;
            display: flex;
            justify-content: center;
        }

        img {
            width: 350px;
            height: auto;
            border-radius: 20px;
        }
    }

    .techstack {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 4rem;

        gap: 2rem;
        width: 100%;
        max-width: 1000px;

        .tech-container {
            display: flex;
            justify-content: center;

            width: 100%;
            gap: 2rem;
            margin-top: 1rem;

            .tech-category {
                flex: 0 0 40%;
                text-align: left;
                font-size: 2rem;
            }

            .tech-list {
                display: flex;
                flex-wrap: wrap;
                flex: 1;

                justify-content: flex-start;
                gap: 1rem;
            }
        }

        .section-title {
           .techstack-icon {
                animation: rotateLoop 10s linear infinite;
           }
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        width: 100%;
        max-width: 1000px;
        margin: 4rem;
    
        .project {
            margin-top: 2rem;
        }

        .section-title {
            .folder-icon {
                animation: rotationShake 2s ease-in-out infinite;
            }
        }
    }

    .contact {
        width: 100%;
        max-width: 800px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}


@keyframes rotateLoop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotationShake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}