.contact-container {
    width: 100%;
    max-width: 800px;
    margin-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Matches your new left-aligned Projects title */

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        margin-top: 2rem;

        input, textarea {
            background: transparent;
            border: 2px solid var(--border-color);
            border-radius: 10px;
            padding: 1rem;
            color: var(--text-color);
            font-family: inherit;
            font-size: 1.1rem;
            outline: none;

            &:focus {
                border-color: var(--button-background);
            }
        }

        button {
            border: 2px solid var(--border-color);
            border-radius: 50px;
            padding: 0.75rem 1.5rem;
            background-color: var(--background-color);
            color: var(--text-color);
            cursor: pointer;
            align-self: flex-start;
            font-size: 1.1rem;

            transition: color 0.3s, background-color 0.3s;

            &:hover {
                background-color: var(--button-background);
            }
        }
    }

    .status-msg {
        color: var(--button-background);
        font-weight: bold;
        margin-top: 2rem;
    }
}