.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    min-height: 350px;

    border: 2px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
}

.project-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .project-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .project-text {
        font-size: 1.1rem;
        line-height: 1.25;
        margin-bottom: 1rem;
    }

    .project-link {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: var(--background-color);
        border: 2px solid var(--border-color);

        color: var(--text-color);
        text-decoration: none;
        border-radius: 50px;

        transition: background-color 0.3s;

        &:hover {
            background-color: var(--button-background);
            color: var(--button-text);
        }
    }

}

.project-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}