body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;

  transition: background-color 0.3s ease, color 0.3s ease;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    background-color: var(--button-background);
    color: var(--background-color);

    border: none;
    border-radius: 50px;

    font-size: 1rem;
    font-family: 'Retroica';
    font-weight: bold;

    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-background);
    }
  }

  .lucide {
    stroke-width: 3px;
  }
}

.app-header {
  position: sticky;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;

  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;


  background-color: var(--background-color);

  border-radius: 50px;
  border: 2px solid var(--border-color);

  z-index: 1000;

  .title {
    font-size: 1.5rem;
    margin: 0;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      color: var(--text-color);
      text-decoration: none;
      font-size: 1.5rem;

      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      transition: background-color 0.3s ease;
    }
  }
}