@font-face {
  font-family: 'Retroica';
  src: url('./assets/fonts/Retroica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Retroica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: #000814;
  --text-color: #fafafa;
  --button-background: #2169ad;
  --button-hover-background: #00b4d8;
  --border-color: #353636;
}

[data-theme='dark'] {
  --background-color: #000814;
  --text-color: #fafafa;
  --button-background: #2169ad;
  --button-hover-background: #00b4d8;
  --border-color: #353636;
  --background-image-gradient: radial-gradient(circle at center, #041d42, #000814);
}

[data-theme='light'] {
  --background-color: #f0f0f0;
  --text-color: #1a1a1a;
  --button-background: #42a5f5;
  --button-hover-background: #90caf9;
  --border-color: #b0b0b0;
  --background-image-gradient: radial-gradient(circle at center, #cbeaff, #ffffff);
}
